[submodule "cli/ext/libovr"]
	path = cli/ext/libovr
	url = git://github.com/if1live/LibOVR.git
	ignore = dirty
	update = rebase
[submodule "cli/ext/irrlicht"]
	path = cli/ext/irrlicht
	url = git://github.com/omniavinco/irrlicht-cmake.git
	ignore = dirty
	update = rebase
[submodule "cli/ext/googletest"]
	path = cli/ext/googletest
	url = git://github.com/if1live/googletest-svn.git
	ignore = dirty
	update = rebase
[submodule "cli/ext/loki"]
	path = cli/ext/loki
	url = https://github.com/dutor/loki.git
