# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# visual studio
*.vcxproj
*.vcproj
*.filters
*.sdf
*.sln
*.opensdf
*.tlog
*.lastbuildstate
ipch

# submodule
ext/*
*.build
*.pbxproj
*.xcworkspacedata
*.xcodeproj

# cmake auto-gen code
config.h
CMakeTmp/
admin/

# boost
cli/boost

# CVars
cli/ext/CVars/CVarVersion.h

.cvar_history
.console_settings
cvars.xml

# resource
cli/res