[submodule "ext/libovr"]
	path = ext/libovr
	url = git://github.com/if1live/LibOVR.git
[submodule "ext/irrlicht"]
	path = ext/irrlicht
	url = git://github.com/omniavinco/irrlicht-cmake.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = git://github.com/hazelnusse/googletest-svn.git